---
import LikeButton from "../React/LikeButton.tsx";
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
  <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
  <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
  <a href="https://icp.gov.moe/?keyword=20255299" target="_blank">萌ICP备20255299号</a><br>
  <span class="block sm:inline">Copyright © 2025 <a href="https://github.com/tianium">Knox</a>. All rights reserved.</span>
  </p>
</footer>
